<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.weibo.mapper.CommentMapper">
	<insert id="insertCommentDirect" parameterType="map">
		<selectKey keyColumn="currval" keyProperty="cid" resultType="int" order="BEFORE" >
			select seq_comments_cid.nextval currval from dual
		</selectKey>
			insert into Comments values (#{cid},#{uid,jdbcType=INTEGER},#{wbid,jdbcType=INTEGER},#{txt,jdbcType=VARCHAR},sysdate,0,-1)
	</insert>
	
	
	<select id="selectCurrCommentId" resultType="int">
		select nvl(max(Cid),0) from Comments
	</select>
	
	
	<insert id="insertCommentByComment" parameterType="map">
		<selectKey keyColumn="currval" keyProperty="cid" resultType="int" order="BEFORE" >
			select seq_comments_cid.nextval currval from dual
		</selectKey>
			insert into Comments values (#{cid},#{uid,jdbcType=INTEGER},#{wbid,jdbcType=INTEGER},#{txt,jdbcType=VARCHAR},sysdate,0,#{cid,jdbcType=INTEGER})
	</insert>
	
	<select id="selectUnameByCid" parameterType="int" resultType="string">
		select Uname from WeiBoUser where WBUid in ( select WBUid from Comments where Cid = #{cid} )
	</select>
	
</mapper>