<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.weibo.mapper.ThemeMapper">
	<select id="findThemeByPage" parameterType="Map" resultType="Theme">
		select * from 
		(select n.*,rownum rn from (select * from Theme) n 
		where #{pageSize} * #{pageNum} >= rownum)
		where rn > #{pageSize} * (#{pageNum} - 1)
	</select>
	
	<select id="findeGroupNumber" parameterType="int" resultType="map">
		select (select count(distinct(FUedid)) from FanAndFaned where FUid = #{WBUid} and Fstatus = '未分组') 未分组,
			(select count(distinct(FUedid)) from FanAndFaned where FUid = #{WBUid} and Fstatus = '好友圈') 好友圈,
			(select count(distinct(FUedid)) from FanAndFaned where FUid = #{WBUid}) focusNum,
			(select count(distinct(FUid)) from FanAndFaned where FUedid = #{WBUid}) fansNum,
			(select count(WBid) from WeiBo where WBUId = #{WBUid}) weiboNum
		from dual
	</select>
</mapper>