<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.weibo.mapper.UserMapper">
	<select id="login" parameterType="WeiBoUser" resultType="WeiBoUser">
		select * from WeiBoUser where (Uemail = #{Uemail,jdbcType=VARCHAR} and Upassword = #{Upassword,jdbcType=VARCHAR}) or (Uphone = #{Uphone,jdbcType=VARCHAR} and Upassword = #{Upassword,jdbcType=VARCHAR})
	</select>
	
	<insert id="register" parameterType="WeiBoUser">
		insert into WeiBoUser(WBUid,Uname,Upassword,Uphone,Uemail,Usex) values(seq_WeiBoUser_Wbuid.nextval,#{Uname},#{Upassword},#{Uphone},#{Uemail},#{Usex})
	</insert>
	
	<update id="updataUserPhoto" parameterType="map">
		update WeiBoUser set UimgPath=#{UimgPath,jdbcType=VARCHAR} where WBUid=#{WBUid,jdbcType=VARCHAR}
	</update>
	
	<select id="findInfoByWbuid" parameterType="int" resultType="WeiBoUser">
		select * from WeiBoUser where WBUid=#{WBUid}
	</select>
	
	<update id="saveChangeUserName" parameterType="map">
		update WeiBoUser set Uname=#{Uname,jdbcType=VARCHAR} where WBUid=#{WBUid,jdbcType=VARCHAR}
	</update>
	
	<update id="changePassWord" parameterType="map">
		update WeiBoUser set Upassword=#{Upassword,jdbcType=VARCHAR} where WBUid=#{WBUid,jdbcType=VARCHAR}
	</update>
	
	<update id="savePersonInfo" parameterType="map">
		update WeiBoUser set Usex=#{Usex,jdbcType=VARCHAR}, Uemail=#{Uemail,jdbcType=VARCHAR},Uintroduce=#{Uintroduce,jdbcType=VARCHAR} where WBUid=#{WBUid,jdbcType=VARCHAR}
	</update>
	
	<update id="saveUserTag" parameterType="map">
		update WeiBoUser set Utag=#{Utag,jdbcType=VARCHAR} where WBUid=#{WBUid,jdbcType=VARCHAR}
	</update>
</mapper>