<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.weibo.mapper.WeiboMapper">
	<insert id="insertWeibo" parameterType="map">
		<selectKey keyColumn="currval" keyProperty="wbid" resultType="int" order="BEFORE">
			select seq_wb_wbid.nextval currval from dual
		</selectKey>
		insert into WeiBo values (#{wbid},#{weiboTag,jdbcType=VARCHAR},#{weiboTitle,jdbcType=VARCHAR},#{userId,jdbcType=INTEGER},#{publishDate,jdbcType=DATE},#{txtContent,jdbcType=CLOB},#{picsMap,jdbcType=VARCHAR},#{videoesMap,jdbcType=VARCHAR},#{musicMap,jdbcType=VARCHAR},#{isThemeWeibo,jdbcType=CHAR},#{userlocation,jdbcType=VARCHAR},#{statue,jdbcType=INTEGER})
	</insert>
	
	<update id="updateWeiboLike" parameterType="int">
		update WeiBoHelp set WHgreateAccount = WHgreateAccount + 1 where WBid = #{wbid}
	</update>
	
	<insert id="insertWhoLike" >
		insert into Operate values(seq_op_oid.nextval,#{uid},#{wbid},'点赞')
	</insert>
	
	
	<select id="seleteWeiboOrderByWHviewAccountFirst" resultType="map" parameterType="map">
		select w.*,WHviewAccount,WHreprintAccount,WHfavoriteAccount,WHcommentAccount,WHgreateAccount from WeiBo w,
		(select * from 
			(select n.*,rownum rn from 
			(select * from WeiBoHelp order by WHviewAccount desc) n where #{pageSize} * #{pageNum} >= rownum)
 			where rn > #{pageSize} * (#{pageNum}-1)) b
 			where w.wbid = b.wbid
 			order by WHviewAccount desc
	</select>
	<select id="selectWeiboOrderByWHgreateAccount" resultType="Weibo" parameterType="map">
		select * from WeiBo where WBid in(
			select WBid from
			(select n.*,rownum rn from (select * from WeiBoHelp order by WHgreateAccount desc) n where #{pageSize} * #{pageNum} >= rownum)
			where rn > #{pageSize} * (#{pageNum}-1))
	</select>
</mapper>