@charset "utf-8";
/* CSS Document */
* {
	padding: 0px;
	margin: 0px auto;
}

body {
	width: 1350px;
	background: url(../image/unloginbg.jpg);
}

#header{
	width:100%;
	height:53px;
	border-top:2px solid red;
	background:#FFF;
	position:fixed;
	z-index:99;}
.head_logo{
	margin-left:130px;
	margin-top:5px;}
.searchTextBorder{
	width:240px;
	height:30px;
	border:1px solid #999;
	margin-left:280px;
	margin-top:-40px;
	background:#F2F2F2;}
.searchText{
	width:200px;
	border:none;
	background:#f2f2f2;
	margin-left:10px;
	margin-top:8px;}
.search_pic{
	display:inline-block;
	width:18px;
	height:18px;
	float:right;
	margin-top:5px;
	margin-right:5px;
	background:url(../image/icon_head_0.png) no-repeat;
	}
.search_pic:hover{
	background:url(../image/icon_head_0_1.png) no-repeat;
}
#header ul li{
	float:left;
	margin-left:20px;
	height:0px;
}
#header ul{
	position:absolute;
	left:530px;
	top:15px;
	width:530px;
	height:25px;
	border-right:1px solid #CCC;}

#header ul li a{
	font:500 16px "幼圆";
	color:#666;
	}
.homePage{
	display:inline-block;
	height:24px;
	background:url(../image/icon_head_1.jpg) no-repeat;
	padding-left:26px;
	padding-top:3px;}
#header ul li .homePage:hover{
	color:#F63;
	background:url(../image/icon_head_1_1.jpg) no-repeat;}
.videoPage{
	display:inline-block;
	height:24px;
	background:url(../image/icon_head_2.jpg) no-repeat;
	padding-left:31px;
	padding-top:3px;}
#header ul li .videoPage:hover{
	color:#F63;
	background:url(../image/icon_head_2_1.jpg) no-repeat;}
.foundPage{
	display:inline-block;
	height:24px;
	background:url(../image/icon_head_3.jpg) no-repeat;
	padding-left:27px;
	padding-top:3px;
	}
#header ul li .foundPage:hover{
	color:#F63;
	background:url(../image/icon_head_3_1.jpg) no-repeat;}
.gamePage{
	display:inline-block;
	height:24px;
	background:url(../image/icon_head_4.jpg) no-repeat;
	padding-left:29px;
	padding-top:3px;}
#header ul li .gamePage:hover{
	color:#F63;
	background:url(../image/icon_head_4_1.jpg) no-repeat;}	
.personPage{
	display:inline-block;
	height:24px;
	background:url(../image/icon_head_5.jpg) no-repeat;
	padding-left:24px;
	padding-top:3px;}	
#header ul li .personPage:hover{
	color:#F63;
	background:url(../image/icon_head_5_1.jpg) no-repeat;}
	
.settingArea{
	width:260px;
	height:35px;
	float:right;}
.message_pic{
	display:inline-block;
	width:21px;
	height:17px;
	background:url(../image/icon_head_6.jpg) no-repeat;
	position:relative;
	top:-30px;
}
.message_pic:hover{
	width:21px;
	height:17px;
	background:url(../image/icon_head_6_1.jpg) no-repeat;}
.setting_pic{
	display:inline-block;
	width:23px;
	height:20px;
	background:url(../image/icon_head_7.jpg) no-repeat;
	margin-left:20px;
	position:relative;
	top:-30px;}
.setting_pic:hover{
	width:23px;
	height:20px;
	background:url(../image/icon_head_7_1.jpg) no-repeat 2px 0px;}
.sendMess_pic{
	display:inline-block;
	width:28px;
	height:27px;
	background:url(../image/icon_head_8.jpg) repeat;
	margin-left:20px;
	position:relative;
	top:-30px;
	}
.help_pic{
	display:inline-block;
	width:17px;
	height:28px;
	background:url(../image/found_image/icon_head9.jpg) no-repeat;
	margin-left:20px;
	position:relative;
	top:-30px;
}
.help_pic:hover{
	background:url(../image/found_image/icon_head9_1.jpg) no-repeat;
}	

#frame {
	float: left;
	margin-top: 50px;
}

li {
	list-style: none;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
	color: #666;
}

#left-part {
	text-align: center;
	margin-left: 175px;
	height: 600px;
	width: 150px;
	float: left;
	position: fixed;
	left: 0px;
	background-color: rgba(145, 166, 195, .8);
}

#left-part-content {
	width:145px;
	position: relative;
	top: 20px;
}

#one {
	margin-top: 18px;
	color: #FFF;
	font-size:16px;
}

#two {
	color: #FFF;
	font-size:16px;
}

.img {
	position: relative;
	top: 5px;
	right: 7px;
}

.img1 {
	position: relative;
	top: 5px;
	right: 15px;
}

.img2 {
	position: relative;
	top: 5px;
	right: 20px;
}

ul li:hover {
	background-color: rgb(207, 209, 222);
	height: 27px;
}

#center-part {
	float: left;
	margin-left: 325px;
	width: 610px;
	background: url(../image/bg-8.png);
}

#center-part-content {
	margin-top: 20px;
	width: 600px;
	height: 180px;
	background-color: #FFF;
	border-radius: 5px;
}

p {
	
	font-size: 12px;
}

#s1 {
	position: relative;
	left: 13px;
	top: 10px;
}

#s2 {
	position: relative;
	left: 270px;
	top: 10px;
}

textarea {
	width: 570px;
	height: 80px;
	margin: 15px;
	font-size: 14px;
	word-wrap: break-word;
	line-height: 18px;
	overflow-y: auto;
	overflow-x: hidden;
	outline: none;
	border:none;
	border:1px #CCC solid;
}

#uploadPics{
		background-color: white;
		width:300px;
		position:relative;
		right:180px;
		top:5px;
	}
#uploadVideo{
		background-color:white;
		margin-top:5px;
		margin-left:110px;
		width:300px;
	}

#wimg {
	position: relative;
	top: 7px;
	right: 1px;
	margin-left: 4px;
	margin-top: -10px;
}

#wword {
	position: relative;
	right: 5px;
	bottom: -2px;
	margin-left: 5px;
	font-size: 12px;
}
.wword {
	margin-left: 6px;
}

#wword:hover {
	color: #F00;
}

#face_image{
	width:100px;
	height:94px;
	position:relative;
	z-index:99;
	margin-left:14px;
	border: 1px solid #999;
	background: #FFF;
}
#topic_input{
	width:90px;
	height:36px;
	line-height:36px;
	border: 1px solid #999;
	position:relative;
	right:36px;
	z-index:99;
	background: #FFF;
}

#topic_input_content:hover{
	color:red;
}

#aa {
	width: 5px;
	font-size: 12px;
	margin-left:130px;
}

#aa:hover {
	color: #F00;
}

.W_input:hover {
	border-color: #F00;
}

#choose {
	width: 110px;
	height: 125px;
	font-size: 10px;
	position: relative;
	left: 85px;
	bottom: 6px;
	z-index: 99;
	border: 1px solid #CCC;
	background: #FFF;
}

.choosea1:hover {
	background: #CCC;
}

#choosea1 {
	display:inline-block;
	width:90px;
	height:2px;
	position:relative;
	top:4px;
	right:5px;
	padding: 8px;
	margin-left: 4px;
	margin-top: 2px;
}
.choosea1 {
	display:inline-block;
	width:90px;
	height:2px;
	position:relative;
	top:4px;
	right:-5px;
	padding: 8px;
	margin-left: 4px;
	margin-top: 2px;
}

.c1 {
	display: inline-block;
	margin-bottom: 2px;
	position: relative;
	left: 24px;
	margin: -8px;
}

.c1:hover {
	color:#F7F7F7;
}

#limits_img {
	margin-bottom: 1px;
	margin: -8px;
}

#publish {
	border:none;
	width:64px;
	height:28px;
	background:rgb(255,97,31);
	color:white;
	position:relative;
	left:60px;
}

#navigation {
	background: #FFF;
	margin-top: 20px;
	width: 600px;
	height: 40px;
	border-radius: 5px;
}

#search_text {
	height: 20px;
	border: none;
	position: relative;
	bottom: 9px;
	font-size: 10px;
}

#nav_search {
	border: #CCC solid 1px;
	width: 200px;
	height: 23px;
	box-shadow: 2px 2px 2px #CCC;
	position:relative;
	left:180px;
	bottom:10px;
}

#nav-search {
	position: relative;
	right: -30px;
}

#nav-icon {
	position: relative;
	left: 30px;
	bottom: 5px;
}

.na1 {
	font-size: 12px;
	position: relative;
	top: 8px;
	left: 10px;
	margin-right: 20px;
	color: #000;
}

#na1:hover {
	color: #F00;
}

#supersearch {
	width: 600px;
	height: 200px;
	border-radius: 5px;
	font-size:14px;
	margin-bottom:20px;
}

#superdivclose{
	position:relative;
	left:560px;
	bottom:16px;
}

#user_img {
	position: relative;
	left: 70px;
	top: 30px;
}

#user_name {
	position: relative;
	left: -40px;
	top: 50px;
	color: #000;
	font-weight: bold;
}

#vip_img {
	position: relative;
	left: -35px;
	top: 55px;
}

#level {
	color: #FFF;
	font-weight: bold;
	position: relative;
	left: 125px;
	top: 30px;
	width: 12px;
	height: 5px;
	background: #F66;
	border-radius: 55px;
}

#usernum {
	position: relative;
	top: 70px;
	left: 11px;
	font-size: 14px;
	color: rgba(255, 192, 158, .7);
}

#usernumone {
	padding-right:12px;
	padding-left:12px;
	color: #666;
}

#num {
	position: relative;
	bottom: 20px;
	left: 25px;
	font-weight: bold;
	color: #000;
	font-size: 16px;
}

#num:hover {
	color: #F00;
}

#center-part-content_01 {
	width: 600px;
	background: #FFF;
	margin-top: 20px;
	margin-bottom:15px;
	border-radius: 5px;
}

#center-part_img {
	position: relative;
	top: 20px;
	margin-right: 10px;
}

.center-part_way {
	position: relative;
	left: 540px;
	bottom: 20px;
}

#center-part_ul {
	width:180px;
	position: relative;
	left: -120px;
	bottom: 50px;
	font-size: 12px;
}

#center-part_li {
	height:0px;
	position: relative;
	top: 10px;
	right: -18px;
	font-size:13px;
}

.center-part_p {
	width:450px;
	position: relative;
	bottom: 60px;
	left: 35px;
	font-size: 14px;
	line-height: 20px;
}

#content_img01 {
	position: relative;
	left: 25px;
	bottom: 45px;
	width:500px;
}

.center-partchoose {
	width: 130px;
	height: 110px;
	background: #FFF;
	position: relative;
	left: -18px;
	bottom: -46px;
	z-index: 99;
	float: right;
	border: 1px solid #CCC;
}

.center-partc1{
	margin-top:10px;
}

#center-parta1 {
	font-size: 13px;
	color: #666;
	margin-left:20px;
	font-weight: bold;
}

#center-parta1:hover {
	color: #F00;
}

#center-partchoose1 {
	position: relative;
	top: 5px;
}

#center-partchoose2 {
	position: relative;
	bottom: 45px;
}

#center-partchoose3 {
	position: relative;
	bottom: 94px;
}

#center-partchoose4 {
	position: relative;
	bottom: 120px;
}

.center_footnum {
	position: relative;
	bottom: 30px;
	border-top:#CCC solid 1px;
}

.center_footnum1, .center_footnum2, .center_footnum3, .center_footnum4 {
	position: relative;
	left: 50px;
	top:10px;
	margin-right: 100px;
	font-size: 12px;
	color: #666;
}

#center_footnum1:hover, #center_footnum2:hover, #center_footnum3:hover,
	#center_footnum4:hover {
	color: #F00;
}

#foot01_img {
	position: relative;
	top: 5px;
}

#foot01_imgs {
	position: relative;
	right: 10px;
	top: 2px;
}
.center_footnum_col{
	width:430px;
	height:330px;
	background:#FFF;
	border:#CCC solid 1px;
	border-radius:5px;
	position:fixed;
	bottom:75px;
	right:490px;
	z-index:99;}
#collection_div_unline{
	height:45px;
	border-bottom:#CCC solid 1px;}
#collection_div_title{
	position:relative;
	top:10px;
	left:20px;
	font-size:16px;
	font-weight:bold;}
#colle_closepng_a{
	position:relative;
	left:350px;
	top:14px;}

#collection_div_tishi{
	border-bottom:#CCC 1px solid;
	height:140px;
	}
#collection_div_img{
	position:relative;
	top:30px;
	left:190px;
	}
#collection_div_su{
	position:relative;
	left:128px;
	top:55px;}
.keyword_tip1{
	border:none;
	border:red solid 1px;}
#tishi_img{
	padding-left:10px;
	padding-top:10px;
	padding-right:6px;}
#tishi_word{
	font-size:13px;
	position:relative;
	bottom:5px;
	}
#keyword{
	margin-top:10px;}
#keyword_tip2{
	position:relative;
	left:125px;
	top:8px;}	

.center_footnum_transmit{
	width:450px;
	height:300px;
	background:#FFF;
	border:#CCC solid 1px;
	border-radius:5px;
	position:fixed;
	bottom:75px;
	right:490px;
	z-index:99;}
	
#transmit_div_unline{
	height:50px;
	border-bottom:#CCC 1px  solid;}
#transmit_div_title{
	display:inline-table;
	margin-left:16px;
	margin-top:15px;
	font-size:16px;
	font-weight:bold;}
#transmit_closepng_a{
	position:relative;
	left:315px;
	top:4px;}
#transmit_header{
	padding-top:30px;
	margin-left:20px;
	}
.transmit_txt{
	width:420px;
	margin-left:14px;}
#transmit_pace_png{
	position:relative;
	bottom:5px;
	left:15px;
	margin-right:10px;
	}
#transmit{
	float: right;
	padding-right: 15px;
	position:relative;
	bottom:5px;}	
#transmit_aa{
	width: 5px;
	position: relative;
	left:210px;
	bottom:12px;
	font-size: 12px;}
#transmit_aa:hover{
	color:red;}
#transmit_choose{
	width: 110px;
	height: 125px;
	font-size: 10px;
	position: relative;
	left: 35px;
	bottom: 6px;
	z-index: 99;
	border: 1px solid #CCC;
	background: #FFF;}
.c1:hover{
	color:red;}
.comment_div{
	border-top:#CCC 1px solid;
	background:#FAFAFA;}

#comment_img{
	margin-left:15px;
	position:relative;
	top:8px;
}
.comment_input{
	border:none;
	border:red 1px solid;
	width:500px;
	height:30px;
	margin-left:10px;}
#comment_pace_png{
	position:relative;
	top:5px;
	left:56px;}
.comment_check{
	position:relative;
	left:60px;
	}
#comment_check_word{
	position:relative;
	left:60px;
	font-size:14px;
	}	
#comment_btn{
	float:right;
	margin-right:40px;

}	
.comment_div_two{
	width:505px;
	height:32px;
	border-top:1px solid #CCC;
	margin-top:30px;
	margin-left:60px;
}
.comment_div_two_a1{
	float:left;
	margin-top:15px;
	font-size:12px;
}
.comment_div_two_a{
	position:relative;
	top:10px;
	margin-left:20px;
	font-size:12px;
}
.comment_div_two_a2{
	float:right;
	margin-top:15px;
	font-size:12px;
}
.comment_div_three{
	width:505px;
	margin-left:60px;
	margin-top:10px;
}

.comment_div_three_a1{
	position:relative;
	right:15px;
}
.comment_div_three_a{
	position:relative;
	right:15px;
	bottom:8px;
	font-size:12px;
}
.comment_div_four{
	width:505px;
	height:30px;
	margin-top:10px;
	margin-left:60px;
	border-bottom:1px solid #CCC;
}
.comment_div_four_a1{
	position:relative;
	left:35px;
	font-size:12px;
}
.comment_div_four_a{
	float:right;
	position:relative;
	top:4px;
	margin-left:10px;
	font-size:12px;
}
.comment_div_four_font{
	position:relative;
	bottom:5px;
}

.comment_div_four_click{
	width:510px;
	height:100px;
	margin-top:15px;
	margin-left:60px;
	background:#fff;
}
.comment_div_four_input{
	margin-top:15px;
	position:relative;
	right:10px;
}
.comment_div_four_pace{
	position:relative;
	right:50px;
}
.comment_div_four_check{
	position:relative;
	left:10px;
	
}
#comment_four_btn{
	float:right;
	position:relative;
	top:8px;
	right:10px;
}
comment_div_five{
	width:505px;
	height:90px;
	margin-left:60px;
	margin-top:10px;
}
.comment_input_five{
	position:relative;
	bottom:6px;
}
#comment_btn_five7{
	position:relative;
	bottom:6px;
}
.changepage{
	width:600px;
	height:30px;
	float: left;
	background: #fff;
	margin-top: 3px;
	border-radius:5px;
	margin-left:330px;
	boder-color:#fff;
}
.prepage{
	float: left;
	background: #fff;
	width: 240px;
	border-right: 1px gray solid;
	text-align:center;
	margin-left:10px;
	margin-top:8px;
}
.nextpage{
	margin-left:20px;
	text-align:center;
	float: left;
	background: #fff;
	width: 200px;
	margin-top:8px;
}
#select1{
	margin-top:8px;
}
	
.right-part {
	float: right;
	width: 230px;
	min-height:500px;
	height:auto;
	background: url(../image/bg-9.jpg) repeat-y;
	position:absolute;
	left:930px;
	top:0px;
}

.right-part-content {
	position:relative;
	top:50px;
	margin-top: 20px;
	height: 200px;
	width: 220px;
	background-color: #FFF;
	border-radius: 5px;
}
.hot_topic{
	position:relative;
	top:60px;
	width:220px;
	height:360px;
	border:1px solid #999;
	border-radius:5px;
	background:#FFF;}
.hot_topic_head{
	display:inline-block;
	height:26px;
	width:212px;
	border-bottom:1px solid #CCC;
	font:bold 13px "宋体";
	padding-left:18px;
	padding-top:12px;}
.hot_topic_change{
	font:100 12px "宋体";
	color:#333;
	margin-left:90px;
	display:inline-block;
	width:45px;
	height:14px;
	background:url(../image/icno_change.jpg) no-repeat;
	padding-left:18px;}
.hot_topic_change:hover{
	color:#EB7350;
	background:url(../image/icon_change1.jpg) no-repeat;}
.hot_topic_content{
	padding-top:5px;}
.hot_topic_detail{
	display:inline-block;
	color:#222;
	font:100 13px "黑体";
	margin-top:11px;
	margin-left:15px;}
.hot_topic_content a:hover{
	color:#EB7350;}
.hot_topic_detail_click{
	color:#333;
	font:100 13px "黑体";
	float:right;
	margin-right:15px;
	margin-top:11px;
	}
.goodfriend_trends{
	position:relative;
	top:70px;
	width:220px;
	height:360px;
	border:1px solid #999;
	border-radius:5px;
	background:#FFF;
	margin-bottom:20px;
}
#goodfriend_trends_head{
	border-bottom:1px solid #CCC;
}
.goodfriend_trends_head{
	font:bold 13px "宋体";
	padding-left:18px;
	padding-top:12px;
}
.goodfriend_trends_detail{
	font-size:13px;
	position:relative;
	top:10px;
	left:15px;
}
.goodfriend_trends_content{
	height:60px;
	background:#F7F7F7;	
	position:relative;
	top:20px;
	font-size:12px;
}
#goodfriend_img{
	position:relative;
	top:16px;
	left:10px;
}
#goodfriend_word1{
	position:relative;
	bottom:6px;
	left:10px;
	color:red;
}

#goodfriend_word2{
	position:relative;
	bottom:16px;
	left:46px;
}
#goodfriend_attention{
	position:relative;
	left:50px;
	bottom:20px;
}


#buoys{
	width:316px;
	height:50px;
	background:#F4F4F4;
	position:fixed;
	right:2px;
	top:576px;
	z-index:99;
	border-radius:5px;
	}
#buoysimg1{
	margin-bottom:15px;
	position:relative;
	left:20px;
	}
#buoysimg2{
	margin:6px;
	position:relative;
	left:180px;
	}
#buoyschat{
	position:relative;
	bottom:20px;
	left:50px;}
	
.center_footnum_{
	position: relative;
	bottom:4px;
	margin-right: 12px;
	padding-left:15px;
	font-size: 12px;
}