* {
	padding: 0px;
	margin: 0 auto;
}
a {
	text-decoration: none
}
li{
	list-style:none;
	}
body {
	background:url(../image/messagebox_image/messbox_bg.jpg) no-repeat fixed;
}
#header{
	width:100%;
	height:53px;
	border-top:2px solid red;
	background:#FFF;
	opacity:0.95;
	position:fixed;
	z-index:999;}
.head_logo{
	margin-left:130px;
	margin-top:5px;}
.searchTextBorder{
	width:240px;
	height:30px;
	border:1px solid #999;
	margin-left:280px;
	margin-top:-40px;
	background:#F2F2F2;}
.searchText{
	width:200px;
	border:none;
	background:#f2f2f2;
	margin-left:10px;
	margin-top:8px;}
.search_pic{
	display:inline-block;
	width:18px;
	height:18px;
	float:right;
	margin-top:5px;
	margin-right:5px;
	background:url(../image/found_image/icon_head_0.png) no-repeat;
	}
.search_pic:hover{
	background:url(../image/found_image/icon_head_0_1.png) no-repeat;
}
#header ul li{
	float:left;
	margin-left:20px;
}
#header ul{
	position:absolute;
	left:530px;
	top:15px;
	width:530px;
	height:25px;
	border-right:1px solid #CCC;}

#header ul li a{
	font:500 16px "幼圆";
	color:#666;
	}
.homePage{
	display:inline-block;
	height:24px;
	background:url(../image/found_image/icon_head_1.jpg) no-repeat;
	padding-left:26px;
	padding-top:3px;}
#header ul li .homePage:hover{
	color:#F63;
	background:url(../image/found_image/icon_head_1_1.jpg) no-repeat;}
.videoPage{
	display:inline-block;
	height:24px;
	background:url(../image/found_image/icon_head_2.jpg) no-repeat;
	padding-left:31px;
	padding-top:3px;}
#header ul li .videoPage:hover{
	color:#F63;
	background:url(../image/found_image/icon_head_2_1.jpg) no-repeat;}
.foundPage{
	display:inline-block;
	height:24px;
	background:url(../image/found_image/icon_head_3.jpg) no-repeat;
	padding-left:27px;
	padding-top:3px;
	}
#header ul li .foundPage:hover{
	color:#F63;
	background:url(../image/found_image/icon_head_3_1.jpg) no-repeat;}
.gamePage{
	display:inline-block;
	height:24px;
	background:url(../image/found_image/icon_head_4.jpg) no-repeat;
	padding-left:29px;
	padding-top:3px;}
#header ul li .gamePage:hover{
	color:#F63;
	background:url(../image/found_image/icon_head_4_1.jpg) no-repeat;}	
.personPage{
	display:inline-block;
	height:24px;
	background:url(../image/found_image/icon_head_5.jpg) no-repeat;
	padding-left:24px;
	padding-top:3px;}	
#header ul li .personPage:hover{
	color:#F63;
	background:url(../image/found_image/icon_head_5_1.jpg) no-repeat;}
	
.settingArea{
	width:260px;
	height:35px;
	float:right;}
.message_pic{
	display:inline-block;
	width:21px;
	height:17px;
	background:url(../image/found_image/icon_head_6.jpg) no-repeat;
	position:relative;
	top:-30px;
}
.message_pic:hover{
	width:21px;
	height:17px;
	background:url(../image/found_image/icon_head_6_1.jpg) no-repeat;}
.setting_pic{
	display:inline-block;
	width:23px;
	height:20px;
	background:url(../image/found_image/icon_head_7.jpg) no-repeat;
	margin-left:20px;
	position:relative;
	top:-30px;}
.setting_pic:hover{
	width:23px;
	height:20px;
	background:url(../image/found_image/icon_head_7_1.jpg) no-repeat 2px 0px;}
.sendMess_pic{
	display:inline-block;
	width:28px;
	height:27px;
	background:url(../image/found_image/icon_head_8.jpg) repeat;
	margin-left:20px;
	position:relative;
	top:-30px;
	}
	

#wrap{
	position:relative;
	width:1000px;
	min-height:100px;
	height:auto;
	padding-top:70px;
	background-color:rgba(180,214,235,.7);}
	
#left{
	width:135px;
	height:400px;
	float:left;
	padding-left:15px;
}
.list_head{
	display:block;
	height:34px;
	line-height:34px;
	color:#fff;
	font: bold 14px "黑体";
	margin-top:5px;}

#left a{
	display:block;
	height:26px;
	color:#fff;
	background:url(../image/messagebox_image/icon_dot.png) no-repeat center left;
	padding-left:20px;
	padding-top:9px;
	font: bold 14px "黑体"}
#left a:hover{
	color:#F69;}

.center1,.center2,.center0{
	width:600px;
	min-height:400px;
	height:auto;
	border:1px solid #CCC;
	border-radius:3px;
	background:#F2F2F2;
	margin-left:145px;}
.center_head1,.center_head2{
	height:38px;
	background:#fff;
	border-radius:3px;
	line-height:38px;}
.center_head1 a{
	font-size:14px;
	color:#000;
	margin-left:20px;
	margin-right:30px;}
.center_head1 a:hover{
	color:#F63;}
.center_content1,.center_content2,.center_content3,.center_content4{
	text-align:center;
}
.center_content1 img,.center_content2 img,.center_content3 img,.center_content4 img{
	margin-top:50px;}
.center_content1 span,.center_content2 span,.center_content3 span,.center_content4 span{
	font-size:14px;}
.tips{
	position:absolute;
	width:230px;
	min-height:180px;
	border:1px solid #ccc;
	border-radius:3px;
	background:#fff;
	top:70px;
	right:10px;
	padding-bottom:15px;}
.tips_head{
	display:block;
	width:215px;
	height:38px;
	border-bottom:1px solid #CCC;
	line-height:38px;
	padding-left:15px;
	font-size:15px;
}
.tips_ques,.tips_answ{
	font:12px "宋体";
	margin-left:15px;
	margin-right:15px;
	color:#666;
	line-height:16px;}
.tips_answ{
	margin-top:5px;}
.tips_ques{
	display:block;
	background:url(../image/messagebox_image/icon_ques.jpg) no-repeat center left;
	padding-left:15px;
	margin-top:15px;
}
.linkman{
	position:absolute;
	top:70px;
	width:230px;
	min-height:400px;
	border:1px solid #ccc;
	border-radius:3px;
	background:#fff;
	right:10px;
	padding-bottom:15px;}
.linkmanW{
	display:inline-block;
	line-height:28px;
	text-align:center;
	width:230px;
	height:28px;
	border-bottom:1px solid #CCC;
	font:blod 15 "宋体";}
.linkmanList li{
	display:block;
	height:20px;
	line-height:15px;
	background:url(../image/messagebox_image/icon_right.png) no-repeat center left;
	padding-left:15px;
	margin-left:20px;
	margin-top:10px;}
.linkmanList>li>a{
	color:#333;
	font:12px "宋体";}
.linkmanList>li>a:hover{
	text-decoration:underline;}
.linkmanList div{
	display:none;}
.linkmanList>div>a{
	color:#000;
	margin-left:20px;
	font:12px "宋体"}
.linkmanList>div>a:hover{
	color:#F6F;
	}	
.center_content2 div{
	text-align:left;
	min-height:100px;
	height:auto;
	background:#fff;
	border-radius:3px;
	padding:20px;
	position:relative;
	margin-bottom:15px;}
.center_content2 div img{
	border-radius:25px;
	float:left;
	margin-top:0;}
.center_content2 div b{
	font-size:14px;
	position:absolute;
	top:25px;
	left:85px;}
.center_content2 div span{
	display:inline-block;
	font-size:14px;
	margin-left:65px;
	margin-right:20px;}
.center_content2 div p{
	background:#F0F0F0;
	font-size:14px;
	margin-left:65px;
	margin-top:20px;
	margin-right:20px;
	padding:10px;}
.center_content2 div p a{
	color:#009;}
.center_content2 div p a:hover{
	color:#F93;}
.center_content2 div font{
	display:inline-block;
	font-size:12px;
	color:#999;
	margin-left:65px;
	margin-top:20px;}
	
.center_content3 div{
	text-align:left;
	width:560px;
	min-height:100px;
	height:auto;
	background:#fff;
	border-radius:3px;
	padding:20px;
	position:relative;}
.center_content3 div img{
	margin-top:0;
	float:left;
	border-radius:25px;}
.center_content3 div b{
	font-size:14px;
	position:absolute;
	top:25px;
	left:85px;}
.center_content3 div span{
	display:inline-block;
	font-size:14px;
	color:#999;
	margin-left:45px;
	margin-top:4px;}
.center_content3 div p{
	background:#f0f0f0;
	padding:10px;
	margin-right:20px;
	margin-top:20px;
	margin-left:65px;}
.center_content3 div p a{
	color:#F33;}
.center_content3 div p a:hover{
	text-decoration:underline;}
.center_content3 div font{
	display:inline-block;
	font-size:12px;
	color:#999;
	margin-left:65px;
	margin-top:20px;}
.center_head1{
	border-bottom:1px solid #f0f0f0;}
.center_content4{
	background:#fff;
	min-height:200px;
	height:auto;
	position:relative;
	padding-bottom:20px;}
.allRead,.cleanAll{
	display:inline-block;
	width:96px;
	height:21px;
	border:1px solid #CCC;
	box-shadow:#f0f0f0 1px 1px 1px;
	color:#666;
	padding-top:5px;
	font:12px "宋体";
	position:absolute;
	top:10px;
	margin-bottom:10px;}
.allRead{
	left:20px;}
.cleanAll{
	left:126px;}
.center_content4>div{
	position:relative;
	text-align:left;
	height:80px;
	padding-left:20px;
	padding-right:20px;}
.center_content4>div>a{
	border-bottom:1px solid #f0f0f0;
	display:inline-block;
	height:80px;
	width:560px;
	position:relative;}
.center_content4>div>a:hover{
	background:#f0f0f0;}
.center_content4>div>a>img{
	margin-top:0;
	float:left;
	position:absolute;
	top:15px;
	border-radius:25px;}
.center_content4>div>a>b{
	display:block;
	color:#000;
	margin-left:60px;
	margin-top:15px;
	font-size:14px;}	
.center_content4 div a span{
	display:inline-block;
	color:#666;
	margin-left:60px;
	margin-top:10px;
	font-size:14px;}
.center_content4>div>a>font{
	color:#666;
	position:absolute;
	top:10px;
	right:30px;
	font-size:12px;}
.center_content4>div>span{
	display:inline-block;
	background:url(../image/messagebox_image/icon_delete1.png) no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	top:10px;
	right:25px;
}
.center_content4>div>span:hover{
	background:url(../image/messagebox_image/icon_delete2.png) no-repeat;}
	
.center2{
	min-height:450px;
	position:relative;}
.center_head2{
	text-align:center;}
.center_head2 a{
	float:left;
	width:14px;
	height:11px;
	display:inline-block;
	background:url(../image/messagebox_image/icon_goback1.jpg) no-repeat;
	margin-left:15px;
	margin-top:13px;}
.center_head2 a:hover{
	background:url(../image/messagebox_image/icon_goback2.jpg) no-repeat;}
.center_head2 span{
	font-size:14px;}
.chatContent{
	width:600px;
	min-height:300px;
	height:auto;
	}
.chatConfirm{
	width:600px;
	min-height:100px;
	background:#fff;
	position:absolute;
	bottom:0;
	border-top:1px solid #CCC;
	box-shadow:#ccc -1px -1px 1px}
.chatText{
	width:550px;
	height:20px;
	line-height:20px;
	margin-left:25px;
	margin-top:20px;
	border:1px solid #ccc;
	word-wrap: break-word;
	resize: none;
	outline:none;
	font-size:12px;
	padding-top:5px;
	padding-bottom:5px;
}

.sendChatBtn{
	position:absolute;
	bottom:10px;
	right:25px;}
	
#ifAllReaded,#ifCleanAll,#ifDelete{
	width:330px;
	height:200px;
	background:#fff;
	border-top:2px solid #F30;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-radius:4px;
	position:absolute;
	top:200px;
	left:300px;
	z-index:9999;}
#ifAllReaded b,#ifCleanAll b,#ifDelete b{
	display:block;
	font-size:14px;
	height:30px;
	border-bottom:1px solid #ccc;
	line-height:30px;
	padding-left:20px;}
#ifAllReaded>b>a,#ifCleanAll>b>a,#ifDelete>b>a{
	background:url(../image/messagebox_image/icon_close1.jpg) no-repeat;
	width:11px;
	height:10px;
	float:right;
	margin-top:10px;
	margin-right:15px;}
#ifAllReaded>b>a:hover{
	background:url(../image/messagebox_image/icon_close2.jpg) no-repeat;}
#ifCleanAll>b>a:hover{
	background:url(../image/messagebox_image/icon_close2.jpg) no-repeat;}
#ifDelete>b>a:hover{
	background:url(../image/messagebox_image/icon_close2.jpg) no-repeat;}
#ifAllReaded img,#ifCleanAll img,#ifDelete img{
	margin-left:140px;
	margin-top:20px;}
#ifAllReaded span,#ifCleanAll span,#ifDelete span{
	display:inline-block;
	margin-left:40px;
	margin-top:10px;
	color:#333;
	font-size:14px;
	margin-bottom:23px;}
#ifCleanAll span{
	margin-left:50px;}
#ifDelete span{
	margin-left:50px;}
#ifAllReaded p,#ifCleanAll p,#ifDelete p{
	padding-left:60px;
	height:50px;
	background:#f0f0f0;
	border-radius:4px;}
#ifAllReaded p a,#ifCleanAll p a,#ifDelete p a{
	display:inline-block;
	width:50px;
	height:30px;
	border:1px solid #ccc;
	box-shadow:#CCC 1px 1px 1px;
	background:#fff;
	border-radius:3px;
	margin-top:10px;
	margin-left:20px;
	color:#000;
	line-height:30px;
	padding-left:15px}
