@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px auto;
}
a{
	text-decoration:none;
	}
body{
	text-align:center;
	/* background:url(../image/IMG_0110.JPG) repeat; */
	}
li{
	list-style:none;
}
#header{
	width:100%;
	height:53px;
	border-top:2px solid red;
	background:#FFF;
	opacity:0.95;
	position:fixed;
	z-index:999;}
.head_logo{
	margin-left:-930px;
	margin-top:5px;}
.searchTextBorder{
	width:240px;
	height:30px;
	border:1px solid #999;
	margin-left:280px;
	margin-top:-40px;
	background:#F2F2F2;}
.searchText{
	width:200px;
	border:none;
	background:#f2f2f2;
	margin-left:10px;
	margin-top:8px;}
.search_pic{
	display:inline-block;
	width:18px;
	height:18px;
	float:right;
	margin-top:5px;
	margin-right:5px;
	background:url(../image/found_image/icon_head_0.png) no-repeat;
	}
.search_pic:hover{
	background:url(../image/found_image/icon_head_0_1.png) no-repeat;
}
#header ul li{
	float:left;
	margin-left:20px;
}
#header ul{
	position:absolute;
	left:530px;
	top:15px;
	width:530px;
	height:25px;
	border-right:1px solid #CCC;}

#header ul li a{
	font:500 16px "幼圆";
	color:#666;
	}
.homePage{
	display:inline-block;
	height:24px;
	background:url(../image/found_image/icon_head_1.jpg) no-repeat;
	padding-left:26px;
	padding-top:3px;}
#header ul li .homePage:hover{
	color:#F63;
	background:url(../image/found_image/icon_head_1_1.jpg) no-repeat;}
.videoPage{
	display:inline-block;
	height:24px;
	background:url(../image/found_image/icon_head_2.jpg) no-repeat;
	padding-left:31px;
	padding-top:3px;}
#header ul li .videoPage:hover{
	color:#F63;
	background:url(../image/found_image/icon_head_2_1.jpg) no-repeat;}
.foundPage{
	display:inline-block;
	height:24px;
	background:url(../image/found_image/icon_head_3.jpg) no-repeat;
	padding-left:27px;
	padding-top:3px;
	}
#header ul li .foundPage:hover{
	color:#F63;
	background:url(../image/found_image/icon_head_3_1.jpg) no-repeat;}
.gamePage{
	display:inline-block;
	height:24px;
	background:url(../image/found_image/icon_head_4.jpg) no-repeat;
	padding-left:29px;
	padding-top:3px;}
#header ul li .gamePage:hover{
	color:#F63;
	background:url(../image/found_image/icon_head_4_1.jpg) no-repeat;}	
.personPage{
	display:inline-block;
	height:24px;
	background:url(../image/found_image/icon_head_5.jpg) no-repeat;
	padding-left:24px;
	padding-top:3px;}	
#header ul li .personPage:hover{
	color:#F63;
	background:url(../image/found_image/icon_head_5_1.jpg) no-repeat;}
	
.settingArea{
	width:260px;
	height:35px;
	float:right;}
.message_pic{
	display:inline-block;
	width:21px;
	height:17px;
	background:url(../image/found_image/icon_head_6.jpg) no-repeat;
	position:relative;
	top:-30px;
}
.message_pic:hover{
	width:21px;
	height:17px;
	background:url(../image/found_image/icon_head_6_1.jpg) no-repeat;}
.setting_pic{
	display:inline-block;
	width:23px;
	height:20px;
	background:url(../image/found_image/icon_head_7.jpg) no-repeat;
	margin-left:20px;
	position:relative;
	top:-30px;}
.setting_pic:hover{
	width:23px;
	height:20px;
	background:url(../image/found_image/icon_head_7_1.jpg) no-repeat 2px 0px;}
.sendMess_pic{
	display:inline-block;
	width:28px;
	height:27px;
	background:url(../image/found_image/icon_head_8.jpg) repeat;
	margin-left:20px;
	position:relative;
	top:-30px;
	}
.help_pic{
	display:inline-block;
	width:17px;
	height:28px;
	background:url(../image/found_image/icon_head9.jpg) no-repeat;
	margin-left:20px;
	position:relative;
	top:-30px;
}
.help_pic:hover{
	background:url(../image/found_image/icon_head9_1.jpg) no-repeat;
}
	
#content{
	padding-top:80px;
	}	
#content #content_m1 #picANDmsg{
	width:920px;
	height:300px;
	background:url(../image/80428.jpg);
	}	
#content #content_m1 #picANDmsg #picANDmsg_center{
	padding-top:80px;
	}
#content #content_m1 #picANDmsg #picANDmsg_center dl dt img{
	width:100px;
	height:100px;
	border-radius:45px;
	}	
/*我的主页，我的相册，管理中心*/
#content #content_m1 #navy{
	width:920px;
	height:50px;
	background-color:#FFF;
	margin-bottom:20px;
	}
#content #content_m1 #navy ul li{
	list-style:none;
	width:80px;
	text-align:center;
	float:left;
	font-size:18px;
	height:25px;
	line-height:25px;
	margin-left:150px;
	}
#content #content_m1 #navy ul li a{
	text-decoration:none;
	}
#content #content_m1 #navy ul li a:hover{
	color:#F90;
	}
#navy ul{
	position:relative;
	top:10px;
	}
#content #content_m1 #navy #myindex{
	border-bottom:#F60 solid 2px;
	padding-bottom:16px;
	}
	
#content #content_m2 #content_m2_left{
	margin-left:215px;
	}
#content #content_m2 #content_m2_right{
	margin-left:20px;
	}	

/*关注，粉丝，微博*/
#content #content_m2 #content_m2_left{
	width:300px;
	float:left;
	}	
#content #content_m2 #content_m2_left div{
	float:left;
	margin-bottom:10px;
	background-color:#FFF;
	}
#content #content_m2 #content_m2_left #left_left1{
	width:300px;
	height:60px;
	} 
#content #content_m2 #content_m2_left #left_left1 dl{
	float:left;
	text-indent:50px;
	margin-top:10px;
	}
#content #content_m2 #content_m2_left #left_left1 dl dt{
	color:#333;
	}
#content #content_m2 #content_m2_left #left_left1 dl dd a{
	text-decoration:none;
	color:gray;
	}
#content #content_m2 #content_m2_left #left_left1 dl dd a:hover{
	color:#F93;
	}
	
/*个人信息完善度*/
#content #content_m2 #content_m2_left #left_left2{
	margin-top:20px;
	width:300px;
	height:155px;
	}
#content #content_m2 #content_m2_left #left_left2 li{
	list-style:none;
	}
#content #content_m2 #content_m2_left #left_left2 li a{
	font-size:12px;
	text-decoration:none;
	}
#content #content_m2 #content_m2_left #left_left2 li a:hover{
	color:#F90;
	}
#applyFor a{
	padding-right:200px;
	}
#personalProgree{
	padding-top:30px;
	padding-bottom:20px;
	border-top:solid #CCC 1px;
	margin-top:10px;
	}
#personalProgree p{
	width:300px;
	margin-right:200px;;
	}
#editPersonal{
	border-top:solid #CCC 2px;
	}

/*相册*/
#content #content_m2 #content_m2_left #left_left3{
	width:300px;
	}
#content #content_m2 #content_m2_left #left_left3 li{
	list-style:none;
	}
#content #content_m2 #content_m2_left #left_left3 li a{
	font-size:12px;
	}
#album{
	padding-right:220px;
	margin-bottom:10px;
	}
#ablumDetails{
	margin-bottom:10px;
	}
#albumMore{
	border-top:solid 2px #CCC;
	padding-bottom:5px;
	}
/*我的微博人气*/
#myWeiboHot p{
	padding-right:180px;
	padding-top:5px;
	font-size:14px;
	}
#content #content_m2 #content_m2_left #left_left4 li{
	list-style:none;
	}
#Tth{
	width:160px;
	height:30px;
	}

#Tth th{
	font-size:14px;
	}
#Ttr1 td div{
	width:250px;
	height:100px;
	padding-left:25px;
	padding-right:25px;
	}
#Ttr2 td div{
	width:250px;
	height:100px;
	padding-left:25px;
	padding-right:25px;
	}
/*我的微博具体详细的内容*/
#content #content_m2 #content_m2_right{
	float:left;
	margin-left:20px;
	width:600px;
	height:1166px;
	}
#content_m2_right ul{	
	float:left;
	margin-left:100px;
}	
#content_m2_right ul li{
	list-style: none;
	margin-top: 20px;
}