@charset "utf-8";
/* CSS Document */
* {
	padding: 0px;
	margin: 0px auto;
}

body {
	width: 1350px;
	background: url(../image/unloginbg.jpg);
}

#header{
	width:100%;
	height:53px;
	border-top:2px solid red;
	background:#FFF;
	opacity:0.95;
	position:fixed;
	z-index:999;}
.head_logo{
	margin-left:130px;
	margin-top:5px;}
.searchTextBorder{
	width:240px;
	height:30px;
	border:1px solid #999;
	margin-left:280px;
	margin-top:-40px;
	background:#F2F2F2;}
.searchText{
	width:200px;
	border:none;
	background:#f2f2f2;
	margin-left:10px;
	margin-top:8px;}
.search_pic{
	display:inline-block;
	width:18px;
	height:18px;
	float:right;
	margin-top:5px;
	margin-right:5px;
	background:url(../image/icon_head_0.png) no-repeat;
	}
.search_pic:hover{
	background:url(../image/icon_head_0_1.png) no-repeat;
}
#header ul li{
	float:left;
	margin-left:20px;
}
#header ul{
	position:absolute;
	left:530px;
	top:15px;
	width:530px;
	height:25px;
	border-right:1px solid #CCC;}

#header ul li a{
	font:500 16px "幼圆";
	color:#666;
	}
.homePage{
	display:inline-block;
	height:24px;
	background:url(../image/icon_head_1.jpg) no-repeat;
	padding-left:26px;
	padding-top:3px;}
#header ul li .homePage:hover{
	color:#F63;
	background:url(../image/icon_head_1_1.jpg) no-repeat;}
.videoPage{
	display:inline-block;
	height:24px;
	background:url(../image/icon_head_2.jpg) no-repeat;
	padding-left:31px;
	padding-top:3px;}
#header ul li .videoPage:hover{
	color:#F63;
	background:url(../image/icon_head_2_1.jpg) no-repeat;}
.foundPage{
	display:inline-block;
	height:24px;
	background:url(../image/icon_head_3.jpg) no-repeat;
	padding-left:27px;
	padding-top:3px;
	}
#header ul li .foundPage:hover{
	color:#F63;
	background:url(../image/icon_head_3_1.jpg) no-repeat;}
.gamePage{
	display:inline-block;
	height:24px;
	background:url(../image/icon_head_4.jpg) no-repeat;
	padding-left:29px;
	padding-top:3px;}
#header ul li .gamePage:hover{
	color:#F63;
	background:url(../image/icon_head_4_1.jpg) no-repeat;}	
.personPage{
	display:inline-block;
	height:24px;
	background:url(../image/icon_head_5.jpg) no-repeat;
	padding-left:24px;
	padding-top:3px;}	
#header ul li .personPage:hover{
	color:#F63;
	background:url(../image/icon_head_5_1.jpg) no-repeat;}
	
.settingArea{
	width:260px;
	height:35px;
	float:right;}
.message_pic{
	display:inline-block;
	width:21px;
	height:17px;
	background:url(../image/icon_head_6.jpg) no-repeat;
	position:relative;
	top:-30px;
}
.message_pic:hover{
	width:21px;
	height:17px;
	background:url(../image/icon_head_6_1.jpg) no-repeat;}
.setting_pic{
	display:inline-block;
	width:23px;
	height:20px;
	background:url(../image/icon_head_7.jpg) no-repeat;
	margin-left:20px;
	position:relative;
	top:-30px;}
.setting_pic:hover{
	width:23px;
	height:20px;
	background:url(../image/icon_head_7_1.jpg) no-repeat 2px 0px;}
.sendMess_pic{
	display:inline-block;
	width:28px;
	height:27px;
	background:url(../image/icon_head_8.jpg) repeat;
	margin-left:20px;
	position:relative;
	top:-30px;
	}
#frame {
	float: left;
	margin-top: 50px;
}

li {
	list-style: none;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
	color: #666;
}

#left-part {
	text-align: center;
	margin-left: 175px;
	height: 600px;
	width: 150px;
	float: left;
	position: fixed;
	left: 0px;
	background-color: rgba(145, 166, 195, .8);
}

#left-part-content {
	position: relative;
	top: 20px;
}

#one {
	margin-top: 20px;
	color: #FFF;
}

#two {
	color: #FFF;
}

.img {
	position: relative;
	top: 5px;
	right: 7px;
}

.img1 {
	position: relative;
	top: 5px;
	right: 15px;
}

.img2 {
	position: relative;
	top: 5px;
	right: 20px;
}

ul li:hover {
	background-color: rgb(207, 209, 222);
	height: 27px;
}

#center-part {
	float: left;
	margin-left: 325px;
	width: 610px;
	background: url(../image/bg-8.png);
}

#center-part-content {
	margin-top: 20px;
	width: 600px;
	height: 40px;
	background-color: #FFF;
	border-radius: 5px;
}

#search_text {
	height: 20px;
	border: none;
	position: relative;
	bottom: 9px;
	font-size: 10px;
}

#nav_search {
	border: #CCC solid 1px;
	width: 200px;
	height: 23px;
	float: right;
	margin-top: 7px;
	margin-right: 10px;
	box-shadow: 2px 2px 2px #CCC;
}

#nav-search {
	position: relative;
	right: -55px;
}

#nav-icon {
	position: relative;
	left: 30px;
	bottom: 5px;
}

#na1 {
	font-size: 14px;
	position: relative;
	top: 8px;
	left: 10px;
	margin-right: 28px;
	color: #000;
}

.na1{
	margin:10px;
	padding:10px;
	}

#user_img {
	position: relative;
	left: 70px;
	top: 30px;
}

#user_name {
	position: relative;
	left: -40px;
	top: 50px;
	color: #000;
	font-weight: bold;
}

#vip_img {
	position: relative;
	left: -35px;
	top: 55px;
}

#level {
	color: #FFF;
	font-weight: bold;
	position: relative;
	left: 125px;
	top: 30px;
	width: 12px;
	height: 5px;
	background: #F66;
	border-radius: 55px;
}

#usernum {
	position: relative;
	top: 70px;
	left: 11px;
	font-size: 14px;
	color: rgba(255, 192, 158, .7);
}

#usernumone {
	color: #666;
}

#num {
	position: relative;
	bottom: 20px;
	left: 25px;
	font-weight: bold;
	color: #000;
	font-size: 16px;
}

#num:hover {
	color: #F00;
}

#center-part-content_01 {
	width: 600px;
	background: #FFF;
	margin-top: 20px;
	border-radius: 5px;
}

#center-part_img {
	position: relative;
	top: 20px;
	margin-left: 20px;
}

.center-part_way {
	position: relative;
	left: 480px;
	bottom: 20px;
}

#center-part_ul {
	position: relative;
	left: -140px;
	bottom: 50px;
	font-size: 12px;
}

#center-part_li {
	position: relative;
	top: 30px;
	right: 50px;
}

#center-part_p {
	position: relative;
	bottom: 70px;
	left: 80px;
	font-size: 14px;
	line-height: 20px;
}

#content_img01 {
	position: relative;
	left: 1px;
	bottom: 60px;
}

#center-part_ps{
	text-align:center;
	border:#666 solid 1px;
	width:60px;
	height:30px;
	line-height:30px;
	position:relative;
	bottom:50px;
	right:190px;
	color:#000;
	font-size:13px;
	font-weight:700;}
	
#collection_date{
	float:right;
	position:relative;
	bottom:75px;
	right:20px;
	font-size:13px;
	color:#666;
	}
#center_ps{
	}
.center-partchoose {
	width: 90px;
	height: 60px;
	background: #FFF;
	position: relative;
	left: -18px;
	bottom: -35px;
	z-index: 99;
	float: right;
	border: 1px solid #CCC;
}

#center-parta1 {
	font-size: 12px;
	color: #666;
	padding-left:20px;
}

#center-parta1:hover,#center-parta2:hover {
	color: #F00;
}
#center-parta2{
	font-size: 12px;
	color: #666;
	padding-left:20px;}

#center-partchoose1 {
	position: relative;
	top: 5px;
}

#center-partchoose4 {
	position: relative;
	bottom: 75px;
}

#center_footnum {
	height:40px;
	position: relative;
	bottom: 20px;
	border-top:#000 solid 1px;
}

#center_footnum1, #center_footnum2, #center_footnum3, #center_footnum4 {
	position: relative;
	left: 50px;
	top:10px;
	margin-right: 100px;
	font-size: 12px;
	color: #666;
}

#center_footnum1:hover, #center_footnum2:hover, #center_footnum3:hover, #center_footnum4:hover {
	color: #F00;
}

#foot01_img {
	position: relative;
	right: 10px;
	top: 5px;
}

#foot01_imgs {
	position: relative;
	right: 10px;
	top: 2px;
}

#right-part {
	float: left;
	width: 230px;
	background: url(../image/bg-9.jpg) repeat-y;
}

#right-part-content {
	margin-top: 20px;
	height: 40px;
	width: 220px;
	background-color: #FFF;
	border-radius: 5px;
}
#right-part_tip1{
	margin-left:10px;
	position:relative;
	bottom:5px;
	color:#F00;}
#right-part-content01 {
	margin-top: 20px;
	height: 240px;
	width: 220px;
	background-color: #FFF;
	border-radius: 5px;
}
#right-part_tip2{
	margin-left:20px;
	position:relative;
	bottom:10px;
	left:15px;
	font-size:14px;
}
#right-part_unline{
	border-bottom:#999 solid 1px;
	padding:1px;}
	
#buoys{
	width:316px;
	height:50px;
	background:#F4F4F4;
	position:fixed;
	right:2px;
	top:576px;
	z-index:99;
	border-radius:5px;
	}
#buoysimg1{
	margin-bottom:15px;
	position:relative;
	left:20px;
	}
#buoysimg2{
	margin:6px;
	position:relative;
	left:180px;
	}
#buoyschat{
	position:relative;
	bottom:20px;
	left:50px;}